.inputItem {
    margin: 0;
}

.inputCell {
    outline: none;

    &:focus {
        border-color: #d8dde6;
        box-shadow: none;
    }
}

.editableCellValueWrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}