@use 'global/ant-select' as *;
@use 'global/ant-table.scss' as *;
@use 'global/ant-prompt.scss' as *;
@use 'global/ant-button.scss' as *;

body {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.flex-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(231, 231, 231, 0.37);
}

::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
    -webkit-border-radius: 10px;
    border-radius: 10px;

    &:hover {
        background: rgb(180, 180, 180);
    }
}