@use 'global/ant-select' as *;

body {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.flex-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}