.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 16px 16px 16px;

    .result {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}