.contentView {
  height: 100%;
  overflow: auto;
  outline: none;

  table {
    width: 100%;
    border-collapse: collapse;

    thead th,
    tbody td {
      padding: 8px;
      border: 1px solid #ddd;
    }

    tbody tr {
      border-bottom: 1px solid #ddd;

      &:nth-child(even) {
        background-color: #f2f2f241;
      }
    }

    img {
      max-width: 100%;
    }
  }
}

.docx tbody td {
  padding: 0 8px !important;
}